.projects-page {
  text-align: justify;
  padding: 3rem;
  font-family: "Volte", sans-serif;
  justify-content: center;
  padding: 0 400px;
}


.projects-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}


.project-card {
  border: 1px solid #ccc;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 1.5rem;
  background-color: #f5f5f5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}


.project-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.project-card a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: #e3e3e3;       
  color: #111;
  text-decoration: none;
  font-weight: 500;
 
  transition: background-color 0.2s, color 0.2s;
}


.project-card a:hover {
  background-color: #8400b4;      
  color: #fff;
}
