nav {
  display: flex;
  justify-content: center;
  align-items: center;    
  gap: 2rem;
  width: 100%;
  height: 60px;
  
  background-color: #e3e3e3; 
  font-family: "Volte", sans-serif;
 
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav a {
  color: #111;            
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s;
}

nav a:hover {
  color: #343434;          
  font-weight: bold;
}

nav a.active {
  color: #8400b4;          

}

.nav-banner {
  width: 100%;
  background-color: #6b0092; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: sticky;
  
  top: 60px;         
  z-index: 999;
}

.nav-logo {
  height: 150px; 
  width: auto;
  
}